h3 {
  padding: 6px;
  text-align: center;
  color: darkslategray;
}

form {
  margin: 0% 7%;
  border-radius: 4px;
  background-color: #e0e0e0;
}

textarea[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  padding: 5px 20px;
}

.form-control {
  cursor: pointer;
}
button{

}
